body {
  background-image: url(../res/fridge.jpg);
}
body>div.todo {
  position: fixed;
  transform-origin: left bottom;
  -ms-transform: skew(1.8deg,2deg); /* IE 9 */
  transform: skew(1.8deg,2deg); /* Standard syntax */
  left: 270px;
  top: 110px;
}

h5>input {
  position: relative;
  width: 80%;
  left: 17px;
  top: -10px;
}

#todo-list {
    margin-top: 10px;
  }
  
  #todo-input {
    margin-bottom: 5px;
  }
  
  /* This will fade in the new added tasks using the animation property */
  .todo {
    margin-bottom: 10px;
    opacity: 0;
    -webkit-animation: fadeIn .5s linear forwards;
    -moz-animation: fadeIn .5s linear forwards;
    animation: fadeIn .5s linear forwards;
  }
  
  /* you need to define the fadeIn keyframe property for it to work */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  