#todo-list {
    margin-top: 10px;
  }
  
  #todo-input {
    margin-bottom: 5px;
  }
  
  /* This will fade in the new added tasks using the animation property */
  .todo {
    margin-bottom: 10px;
    opacity: 0;
    -webkit-animation: fadeIn .5s linear forwards;
    -moz-animation: fadeIn .5s linear forwards;
    animation: fadeIn .5s linear forwards;
  }
  
  /* you need to define the fadeIn keyframe property for it to work */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  